<!DOCTYPE html>
<html ng-app="myapp" manifest="covers.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="sendgrid.js"></script>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style type="text/css">
<!--
   /* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
-->
</style>
   <!-- Optional theme -->
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
  <body ng-controller="MyController">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Really Awesome App Idea</a>
        </div>

      </div>
    </div>
    <!--<div ng-view></div>-->
    <h3>If you're interested in this really awesome product, why don't you drop off your email and we'll let you know when we're ready to show it off.
       <input type="text" ng-model="name" placeholder="Name:" style="width:100%;font-size:24px;">
       <input type="text" ng-model="email" placeholder="Email:" style="width:100%;font-size:24px;">
       <button type="button" class="btn btn-primary" ng-click="addEmail(name, email)">Submit</button>
       {{result}} <br />
       {{status}} <br />
       {{data}}
       {{id}}
    
 <script>
      var app = angular.module('myapp', ['firebase', 'email']);

      function MyController($scope, $firebase, $email, $http, $log) {
        var FB = ""; // Enter in your FB name
        var ref = new Firebase(FB);
        var emailList = $firebase(ref);
        validateEmail = function (email3) { 
           var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
           return re.test(email3);
} 
        $scope.addEmail = function(name, email2) {
            if (validateEmail(email2))
            {
               var newResult = emailList.$add({"name" : name, "email" : email2, "validated" : false}).then(function(ref) {
               $email.$send(api_user, api_key, email, name, "Click to Confirm", "This Please click on this link to confirm your email address: \n\n http://onaclovtech.com/apps/rockstar/" + String(ref.name()) + "\n\n", "tyson@onaclovtech.com");
               });
            }
        }
      }
      
    </script>
  </body>
</html>
